#!/bin/bash -l

export PYTHONPATH={{ PACKAGE_PATH }}:$PYTHONPATH

{% if OUTPUT_FOLDER is defined and OUTPUT_FOLDER %}
mkdir -p {{ OUTPUT_FOLDER }}
{% endif %}

echo "Launching job"

# Run the program and wait for the result
python -m modelrunner {{ MODEL_FILE }} \
    {{ JOB_ARGS }} \
    > {{ LOG_FOLDER }}/{{ JOB_NAME }}.out.txt \
    2> {{ LOG_FOLDER }}/{{ JOB_NAME }}.err.txt
