#!/bin/bash -l

# Standard output and error:
#$ -o {LOG_FOLDER}/{JOB_NAME}.out.txt
#$ -e {LOG_FOLDER}/{JOB_NAME}.err.txt
# Execute from current working directory:
#$ -cwd
# Preserve environment variables:
#$ -V
# Job Name:
#$ -N {JOB_NAME}
# Queue (Partition):
#$ -q teutates.q
#TODO: can we skip specifying the queue?

hostname
echo $JOB_ID

mkdir -p {OUTPUT_FOLDER}

# Run the program
python3 -m job {MODEL_FILE} {JOB_ARGS}
